@import "tailwindcss";


/* Set Inter as default body font */
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
}

/* Use Poppins for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}